.dashboard {
  .loading-overlay-fixed {
    position: fixed;
  }

  projects-table {
    display: inline-block;
    background-color: #fff;
    border: 1px solid hsla(184, 6%, 85%, 1);

    table {
      table-layout: fixed;
      width: 100%;
      overflow: auto;

      th,
      td {
        border: 1px solid black;
      }
    }
  }
}
