<div class="teams-list admin">
  <section class="public-teams">
    <div layout="row" layout-align="center center" ng-show="$ctrl.loading" class="loader">
      <md-progress-circular
        class="loading-overlay-fixed"
        md-mode="indeterminate"
      ></md-progress-circular>
    </div>

    <table class="table table-hover" ng-if="!$ctrl.loading">
      <tr
        ng-repeat="team in $ctrl.filteredTeams | orderBy: 'name'"
        ng-click="$ctrl.viewTeamOverview(team.id)" //Should hover here
        layout-xs="column">
        <td>
          <div md-truncate>
            <span class="name">{{ team.name }}</span>
            <md-tooltip md-delay="200" md-direction="bottom">{{ team.name }}</md-tooltip>
          </div>
          <div layout="row" layout-wrap class="module-labels">
            <div ng-repeat="entity in team.config.entities">
              <span class="label label-default">{{ entity.conceptAlias }}</span>
            </div>
          </div>
          <div>
            <small class="text-muted activity"
              >Latest Activity: {{ team.modified ? team.modified.split(' ')[0] : 'N/A' }}</small>
          </div>
        </td>

        <!--td>{{ team.entityStats.samples }}</td>
        <td>{{ team.project.numOfProjects }}</td>
        <td>{{ team.project.totalmembers }}</td-->
      </tr>
    </table>
  </section>
</div>